# Astro Web Configuration
ASTRO_WEB_PROTOCOL=http
ASTRO_WEB_HOST=localhost
ASTRO_WEB_PORT=4321

# SQLite Database Configuration
# The database file will be created automatically on first run
SURVEY_DB_PATH=./db/data/survey.db
AUTH_DB_PATH=./db/data/auth.db

BETTER_AUTH_SECRET=g8D5cEZ0y8JvvVrRQB2pmi4aDDWk569V
BETTER_AUTH_URL=http://localhost:4321